@{
    ViewData["Title"] = "About Us";
}

<h2>About Us</h2>
<p>
    <h4>Made as a project with ASP.NET Core.</h4>
    <h4>Read the code on <a href="https://github.com/amarjeetsahoo">Github</a></h4>
</p>

